<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Film.io.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77E425EC1E44465C00560F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E426051E44465C00560F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E426101E44465C00560F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
